@font-face {
    font-family: 'Esqadero FF CY 4F-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/esqadero-ff-cy-4f-regular.ttf') format('truetype');
}
textarea:focus,input:focus,select:focus,button:focus{
    outline: none!important;
}

html,body{
    font-family: "Esqadero FF CY 4F-Regular", sans-serif !important;
}
.display_flex{
    --display: flex;
    display: flex;
}
body{
    --background: #000000!important;
}
ion-content{
    --background: unset!important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main_welcome_header_logo_section {
    display: flex;
}

.main_welcome_header_logo_section img.logo {
    margin: auto;
    width: 100px;
}

.welcome_main_container_inner {
    margin-top: 20%;
}
.login_main_container_outer {
    height: 100%;
    margin-top: 15%;
}
.login_main_container_inner {
    margin: auto;
}
.signup_main_container_outer {
    height: 100%;
    margin-top: 15%;
}
.signup_main_container_inner {
    margin: auto;
}
.main_button_container_section {
    text-align: center;
    color: var(--theme-text-color);
}

.main_button_container_section p {
    font-size: var(--theme-text-small-size);
}

.main_button_container_section button {
    border-radius: 2px;
    width: 280px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: var(--theme-text-sub-heading-size);
}
.glossy-button {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: var(--theme-text-color);;
    cursor: pointer;
}

.main_form_container_section .form_input_section.input {
    width: 100%;
    padding-left: 10px;
}
.main_form_container_section .form_input_section {
    border-radius: 2px;
    padding-left: 10px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: var(--theme-text-color);;
    height: 45px;
    font-size: var(--theme-text-main-size);
    width: 100%;
    margin-top: 10px;
}
.all_rights_reserve_footer_text {
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: var(--theme-text-very-small-size);
    color: var(--theme-text-color-second);
    margin: 8px;
    width: 100%;
    left: 0px;
    line-height: 16px;
}
.welcome_slogan_container {
    color: #fff;
    font-size: var(--theme-text-sub-heading-size);
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}
.welcome_slogan_container p{
    color: var(--theme-text-color);;
    font-size: var(--theme-text-sub-heading-size);
}
.main_form_container_section {
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.main_form_container_section .signup_button_main_form {
    font-size: var(--theme-text-main-size);
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 50px;
    color: var(--theme-text-color);;
    margin-top: 10px;
}
.main_form_container_section p {
    color: var(--theme-text-color);
    font-size: var(--theme-text-main-size);
}

.main_form_container_section a {
    color: var(--theme-logo-color);
    font-weight: 600;
    font-size: var(--theme-text-small-size);
}
.logo_section_welcome_top {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.logo_section_welcome_top img {
    margin: auto;
}
.welcome_page_swiper_slider .swiper-pagination {
    position: static;
    margin-top: 24px;
}

.swiper-horizontal.welcome_page_swiper_slider > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: var(--theme-logo-color) !important;
    border: 0;
}
.swiper-horizontal.welcome_page_swiper_slider > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: var(--theme-logo-color) !important;
}
.main_button_container_section a {
    color: var(--theme-logo-color);
    font-weight: bold;
}
.welcome_page_swiper_slider img {
    margin: auto;
}